<nav class="navbar navbar-default my-navbar navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/"><img src="{{url_for('static', filename='images/SEBIT_logo.jpg')}}" alt="세빛주식회사"></a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/about">회사소개</a></li>
      <li><a href="/parking-system">주차시스템</a></li>
      <li><a href="/products">제품소개</a></li>
      <li><a href="/maintenance">유지보수</a></li>
      <li><a href="/articles">커뮤니티</a></li>
    </ul>
  </div>
</nav>