<!DOCTYPE html>
<html>
<head>
	<!-- Meta tags-->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS v.3.7.7-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- Customized CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<title>세빛주식회사</title>

</head>
<body>
	{% include 'includes/_navbar.html' %}

	<div class="">
		{% block body %}{% endblock %}
	</div>

	{% include 'includes/_footer.html' %}
<!-- Optional JavaScript -->
<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>